@model IEnumerable<LibApp.Models.Book>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    <a class="btn btn-primary" asp-action="New">New Book</a>
</p>

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2" colspan="1">Book</th>
            <th colspan="2" rowspan="1">Genre</th>
             @if (User.IsInRole("StoreManager") || User.IsInRole("Owner"))
            {
                <th rowspan="2" colspan="1">Delete</th>
            }
        </tr>
        <tr>
            <th rowspan="1" colspan="1">ID</th>
            <th rowspan="1" colspan="1">Name</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


@section Scripts
{
<script>
    $(document).ready(function () {
        $("#books").DataTable({
            ajax: {
                url: 'api/books',
                dataSrc: ""
            },
            columns: [
                {
                    data: "name",
                    render: function (data, type, book) {
                        return "<a href='books/details/" + book.id + "'>" + book.name + "</a>";
                    }
                },
                {
                    data: "genre.id"
                },
                {
                    data: "genre.name"
                },
                 @if (User.IsInRole("StoreManager") || User.IsInRole("Owner")){
                <text>{
                    data: "id",
                    render: function (data) {
                        return "<button class='btn btn-secondary js-delete' data-book-id=" + data + ">Delete</button>";
                    }
                }</text>
                 }
            ]
        });
    });
</script>

<script>
    $(document).ready(function () {
        var table = $("#books").DataTable();
        $("#books").on("click", ".js-delete", function () {
            var button = $(this);
            bootbox.confirm({
                message: "Confirm book deletion?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/books/' + button.attr("data-book-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                }
            });
        });
    });
</script>
}